@inherits LayoutComponentBase
@using NEXT2.Data
@using NEXT2.Components.Models
@inject ApplicationDbContext DbContext
@inject NavigationManager Navigation


<PageTitle>Next2-BlazorServerApplication</PageTitle>

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7c57c7a426.js" crossorigin="anonymous"></script>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="site.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body>
    <div class="page">
        <main>
            <div class="container-space-between padding-50">
                
                <img src="NEXT-CAREERS.png" style="height: 30px; width: 150px;"/>
                

                @if (userModel == null)
                {
                    <NavLink class="nav-link" href="Login" Match="NavLinkMatch.All">
                        <span aria-hidden="true"></span> <span style="color:black;"><i class="fa-solid fa-user"></i></span>
                    </NavLink>
                }
                else if (userModel != null)
                {
                    <div class="container-flex" style="align-items: center;">
                        <p style="font-size: 17px; margin:0;">@userModel.email</p>
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <span aria-hidden="true"></span> <span style="color:black; font-size: 20px;"><i class="fas fa-right-from-bracket"></i></span>
                            </NavLink>
                    </div>
                }
            </div>
            <article class="content px-4">
                <CascadingValue Value="eventUser">
                    @Body
                </CascadingValue>
            </article>
        </main>
    </div>
</body>

@code{
    //public string userid { get; set; } = "0";
    private string email;
    private List<User> users;
    private string test;

    public UserModel userModel { get; set; }

    EventCallback<UserModel> eventUser => EventCallback.Factory.Create(this, (Action<UserModel>)layoutUser);

    private void layoutUser(UserModel _um)
    {
        userModel = _um;
    }

    protected override void OnInitialized()
    {
        try
        {
            users = DbContext.Users.ToList();
        }
        catch
        {

        }

        foreach (User user in users)
        {
            if (userid == Convert.ToString(user.userID))
            {
                email = user.Email;
            }
        }
    }

    [Parameter] public string userid{ get; set; }


}

</html>