@page "/FetchUsers"
@using NEXT2.Data
@inject ApplicationDbContext DbContext 

<h3>answer table</h3>

@if (answers == null)
{
    <p>empty</p>
}
else
{
    <ul>
        @foreach (var answer in answers)
        {
            <li>@answer.AnswerID</li>
        }
    </ul>
    
}


@code {
    private List<Answer> answers;

    protected override async Task OnInitializedAsync()
    {
        answers = DbContext.AnswersNew.ToList();
    }
}

