@page "/"
@inject NavigationManager Navigator
@using NEXT2.Data
@inject ApplicationDbContext DbContext
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<button @onclick="LogIn" class="login-nav">
    <span style="color:black; outline-style: none;"><i class="fa-solid fa-user"></i></span>
</button>

<div class="centre-content container-centre margin-t-50">
    <h1>Next Career Quiz</h1>
    <p class="margin-t-50">Take 5-10 minutes to answer a set of questions specifically designed to help you understand which position is best suitable for you to apply to</p>
    <button @onclick="StartQuiz" class="white-button margin-t-50 no-link"> Start Quiz</button>
    <span class="margin-t-50" style=" padding-top:1px">
        Already completed the NEXT Careers Quiz?
        <button @onclick="LogIn" class="margin-t-50 auth-a"><b> Log in</b></button>
        to view your results
    </span>
    <a href="FetchUsers" class="auth-a margin-t-50" style="font-weight:bold;">dbtest</a>
</div>



@code {
    private int user_id = -1; //null changed to -1 to represent no user having logged in
    private void StartQuiz()
    {
        List<UserAnswer> all_user_answers = DbContext.UserAnswersNew.ToList();

                int next_session_id = 0;

        if (all_user_answers.Count() != 0)
        {
            // UserAnswer test = all_user_answers.Where(x => x.SessionID = all_user_answers.Max(x => x.SessionID));
            next_session_id = all_user_answers.Max(x => x.SessionID) + 1;
        }

        Navigator.NavigateTo($"/Quiz/{1}/{next_session_id}/{user_id}");
    }

    private void LogIn()
    {
        Navigator.NavigateTo($"/Login/{false}/{-1}");
    }
}
