@page "/"
@inject NavigationManager Navigator
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<div class="centre-content container-centre margin-t-50">
    <h1>Next Career Quiz</h1>
    <p class="margin-t-50">Take 5-10 minutes to answer a set of questions specifically designed to help you understand which position is best suitable for you to apply to</p>
    <button @onclick="StartQuiz" class="white-button margin-t-50 no-link"> Start Quiz</button>
    <span class="margin-t-50" style=" padding-top:1px">
        Already completed the NEXT Careers Quiz?
        <a href="Login" class="margin-t-50 auth-a" style="font-weight:bold;">Log in </a>
        to view your results
    </span>
    <a href="Results" class="auth-a margin-t-50" style="font-weight:bold;">results page</a>

    <a href="FetchUsers">test connection</a>
</div>



@code {

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         StateHasChanged();
    //     }
    // }
    private void StartQuiz()
    {
        Navigator.NavigateTo($"/Quiz/{1}");
    }
}
