@page "/Login"
@layout MainLayout
@using NEXT2.Components.Layout
@using NEXT2.Data
@inject NavigationManager Navigation
@inject ApplicationDbContext DbContext
@rendermode InteractiveServer


<div class="centre-content container-centre margin-t-50">
    <h1>Log In</h1>
    <p class="margin-t-50">Enter the email address and password you used to create your profile. Once your identity is confirmed, you will be able to manage your profile.</p>
    <label class="required-field margin-t-50 text-l">Email Address:</label>
    <InputText class="auth-input" @bind-Value="@email"></InputText>
    <label class="required-field text-l">Password:</label>
    <InputText type="password" class="auth-input" @bind-Value="@password"></InputText>
    @if (alert == 1)
    {
        <p style="color:red;">Email or password is incorrect, try again or create an account</p>
    }
    else if (alert == 2)
    {
        <p style="color:red;"p>Please enter your Email and password</p>
    }
    <span class="margin-t-50" style=" padding-top:1px">
        Don't have an account?
        <a href="Register" class="margin-t-50 auth-a" style="font-weight:bold;">Register</a>
    </span>
    <div class="container-space-between height-100">
        <a href="" class="white-button margin-t-50 no-link">
            <i class="fa-solid fa-caret-left"></i> Back
        </a>
        <button class="white-button margin-t-50" @onclick="logIn" >Log in <i class="fa-solid fa-caret-right"></i></button>
    </div>
    
    <br />
</div>


@code {
    public string email = "";
    public string password = "";
    private List<User> users;
    int alert = 0;
    bool emptyTable = false;

    protected override void OnInitialized()
    {

        // try
        // {
        //     users = DbContext.Users.ToList();

        // }
        // catch 
        // {
        //     alert = 1;
        //     emptyTable = true;
        //     StateHasChanged();
        // }

        users = DbContext.Users.ToList();

    }

    protected void logIn()
    {
        try
        {
            if (email != "" && password != "")
            {
                if (!emptyTable)
                if (user.Email == username && user.Password == password)
                {
                    foreach (User user in users)
                    {
                        if (user.Email == email && user.Password == password)
                        {
                            Navigation.NavigateTo($"/Results/{user.userID}");

                            return;
                        }
                        else
                        {
                            alert = 1;
                            StateHasChanged();
                        }
                    }
                    
                }
            }
            else if (email == "" || password == "")
            {
                alert = 2;
                StateHasChanged();
            }

        }
        catch
        {
            alert = 1;
            StateHasChanged();
        }
        
    }
}
