@page "/Quiz/{thisquestion:int}"
@using NEXT2.Data
@inject ApplicationDbContext DbContext
@inject NavigationManager Navigation
@rendermode InteractiveServer
@layout MainLayout

<div class="centre-content container-centre margin-t-50">
    @*progress bar*@
    <div class="progress-b">
        <p>100% complete</p>
    </div>
    @*questions container*@
    <div class="white-container">
        <h2>Section 1</h2>
        <hr />
        <div style="padding: 30px;">
            <p class="text-l">@currentquestion.QuestionText</p>
            <div class="container-space-between">
                @for (int i = 0; i < currentanswers.Count(); i++)
                {
                    Answer current = currentanswers[i];
                    <label class="container">
                        <input type="radio" name="radio" @onclick="() => selectAnswer(current)">
                        <span class="selection">@current.AnswerText</span>
                    </label>
                }
            </div>
        </div>
        @*<hr />
    <div style="padding: 30px;">
        <h4 class="text-l">Question 2</h4>
        <p class="text-l">How much experience do you have working in a team?</p>
        <div class="slider-container">
            <div class="container-space-between">
                <p style="width: 10%"> 1</p>
                <p style="width: 10%"> 2</p>
                <p style="width: 10%"> 3</p>
                <p style="width: 10%"> 4</p>
                <p style="width: 10%"> 5</p>
                <p style="width: 10%"> 6</p>
                <p style="width: 10%"> 7</p>
                <p style="width: 10%"> 8</p>
                <p style="width: 10%"> 9</p>
                <p style="width: 10%">10</p>
            </div>
            <input type="range" min="1" max="10" class="slider"/>
        </div>
    </div> *@

        <hr />
        <div class="container-space-between height-100">
            <button class="white-button margin-t-50" @onclick="PreviousQuesion">Back<i class="fa-solid fa-caret-left"></i> </button>
            <button class="white-button margin-t-50" @onclick="NextQuestion">Next <i class="fa-solid fa-caret-right"></i></button>
        </div>
    </div>
    <br />
</div>

@code {
    private List<Answer> answers = new List<Answer> { };
    private List<Question> questions = new List<Question> { };
    private List<Answer> currentanswers = new List<Answer> { };
    [Parameter] public int thisquestion { get; set; }
    Question currentquestion = new Question();
    Answer selectedanswer = new Answer();

    protected override async Task OnInitializedAsync()
    {
        answers = DbContext.Answers.ToList();
        questions = DbContext.Questions.ToList();

        foreach (Question question in questions)
        {
            if (question.QuestionID == thisquestion)
            {
                currentquestion = question;
                break;
            }
        }
        foreach (Answer answer in answers)
        {
            if (answer.QuestionID == currentquestion.QuestionID)
            {
                currentanswers.Add(answer);
            }
        }
    }
    protected void NextQuestion() => Navigation.NavigateTo($"/Quiz/{selectedanswer.NextQuestionID}");

    protected void PreviousQuesion(){
        if (currentquestion.ParentQuestionID > 0)
        {
            Navigation.NavigateTo($"/Quiz/{currentquestion.ParentQuestionID}");
        }
        else
        {
            Navigation.NavigateTo($"/");
        }
    }

    protected void selectAnswer(Answer a)
    {
        selectedanswer = a;
    }

}

