@page "/Quiz"
@using NEXT2.Components.Layout

@layout MainLayout

<div class="centre-content container-centre margin-t-50">
    @*progress bar*@
    <div class="progress-b">
        <p>100% complete</p>
    </div>
    @*questions container*@
<div class="white-container">
    <h2>Section 1</h2>
    <hr />
    <div style="padding: 30px;">
        <h4 class="text-l">Question 1</h4>
        <p class="text-l">How much experience do you have working in a team?</p>
        <div class="container-space-between">
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="selection">0 years</span>
                </label>
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="selection">1-2 years</span>
                </label>
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="selection">2-5 years</span>
                </label>
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="selection">5-10 years</span>
                </label>
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="selection">10 years+</span>
                </label>
            </div>
    </div>
    <hr />
    <div style="padding: 30px;">
        <h4 class="text-l">Question 2</h4>
        <p class="text-l">How much experience do you have working in a team?</p>
        <div class="slider-container">
            <div class="container-space-between">
                <p style="width: 10%"> 1</p>
                <p style="width: 10%"> 2</p>
                <p style="width: 10%"> 3</p>
                <p style="width: 10%"> 4</p>
                <p style="width: 10%"> 5</p>
                <p style="width: 10%"> 6</p>
                <p style="width: 10%"> 7</p>
                <p style="width: 10%"> 8</p>
                <p style="width: 10%"> 9</p>
                <p style="width: 10%">10</p>
            </div>
            <input type="range" min="1" max="10" class="slider"/>
        </div>
    </div>
    <hr />
        <div style="padding: 30px;">
            <h4 class="text-l">Question 3</h4>
            <p class="text-l">How much experience do you have working in a team?</p>
            <div class="container-space-between">
                <label class="container text-l">
                    <input type="radio" name="radio">
                    <span class="selection">0 years</span>
                </label>
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="selection">1-2 years</span>
                </label>
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="selection">2-5 years</span>
                </label>
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="selection">5-10 years</span>
                </label>
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="selection">10 years+</span>
                </label>
            </div>
        </div>
    <hr />
    <div style="padding: 30px;">
        <h4 class="text-l">Question 1</h4>
        <p class="text-l">How much experience do you have working in a team?</p>
        <div class="container-space-between">
            <div class="white-button">0yrs</div>
            <div class="white-button">1-2yrs</div>
            <div class="white-button">2-4yrs</div>
            <div class="white-button-selected">4-10yrs</div>
            <div class="white-button">10+yrs</div>
        </div>
    </div>
    <hr />
    <div class="container-space-between height-100">
        <button class="white-button margin-t-50"><i class="fa-solid fa-caret-left"></i> Back</button>
        <button class="white-button margin-t-50">Next <i class="fa-solid fa-caret-right"></i></button>
    </div>
</div>
    <br />
</div>

@code {

}

