.container-centre {
    width: 850px;
    /*    max-width: 60vw;*/
}

.white-container {
    min-width: 100%;
}

.white-button, .white-button-selected {
    width: 115px;
}

.progress-b {
    background-color: #00829b;
    border-radius: 5px;
    height: 40px;
    border: 2px solid #00748C;
    text-align: center;
}

    .progress-b > p {
        color: white;
    }

.slider-container {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 93%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #00829b;
        cursor: pointer;
    }

.container {
    display: flex;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 100%;
}
.background-container{
    z-index: -1;
    position: absolute;
    top: 150px;
    left: 0px;
    object-fit:cover;
}
.image-container{
    height: 80px;
    overflow:hidden;
}

    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.centered-text {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-left-text {
    position: absolute;
    top: 200px;
    left: 250px;
    transform: translate(-50%, -50%);
    float: left;
}

.sticky-container{
    /*height: 100vh;*/
    top:0;
}
.sticky-element{
    position: sticky;
    z-index: 10;
    top: 0;
    overflow:scroll;
}


footer {
/*    position: sticky;
*/    bottom: 0;
    width: 100%;
}

.selection {
    width: 100%;
    background: none;
    border: 1px solid #000000;
    border-radius: var(--radius);
    padding: 10px;
    align-content: center;
}

.container:hover input ~ .selection {
    border: 2px solid #203C41;
    padding: 9px;
}

.container input:checked ~ .selection {
    background-color: #00829b20;
    border: 2px solid var(--button-blue-hover);
    padding: 9px;
}

.selection:after {
    background-color: #00829b20;
    border: 2px solid var(--button-blue-hover);
}

.container input:checked ~ .selection:after {
    display: block;
}

.container .selection:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.bg-progress {
    background-color: #00829b;
    border-radius: 5px;
    height: 40px;
    border: 3px solid #00829b;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}

.progress-percent {
    position: absolute;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
