@page "/RecruitmentAnalytics/{user_id:int}"
@using NEXT2.Components.Layout
@using NEXT2.Components.Models
@layout ResultsLayout
@using NEXT2.Data
@inject NavigationManager Navigation
@inject ApplicationDbContext DbContext
@rendermode InteractiveServer

<div style="margin: 50px">

    <h2 class="text-l" style="margin-left: 50px">Recruitment Analytics</h2>

    <div class="container-row">
        <div class="white-container container-column" style="margin: 50px;">
            <h4 class="text-l">Top Departments</h4>
            <hr />
            <div class="container-space-between">
                <p>Name of Department</p>
                <p>Number of recommendations </p>
            </div>
            <hr />
            @foreach (KeyValuePair<Departments,int> dept_kvp in GetTopDepartments())
            {
                <div class="container-space-between">
                    <p>@dept_kvp.Key.DepartmentName</p>
                    <p>@dept_kvp.Value</p>
                </div>
            }
        </div>
        <div class="white-container container-column" style="margin: 50px;">
            <p>Select a department to view its top roles</p>
        </div>
    </div>
    <div class="container-row margin-t-50" >
        <div class="white-container container-column" style="margin: 50px;">
            <h4 class="text-l">Overall Top Roles</h4>
            <hr />
            <div class="container-space-between">
                <p>Name of Department</p>
                <p>Number of recommendations </p>
            </div>
            <hr />
            @foreach (KeyValuePair<string,int> role_kvp in GetTopRolesDetails())
            {
                <div class="container-space-between">
                    <p>@role_kvp.Key</p>
                    <p>@role_kvp.Value</p>
                </div>
            }
        </div>
        <div class="white-container container-column" style="margin: 50px;">
            <h4 class="text-l">Top Candidates</h4>
            <hr />
        </div>
    </div>
</div>
    


@code {
    [Parameter] public int user_id { get; set; }

    public UserModel userModel = new UserModel();

    [CascadingParameter] public EventCallback<UserModel> userLayout { get; set; }

    private string email;

    private List<User> users = new List<User>();

    private List<Result> results = new List<Result>();

    private List<Role> roles = new List<Role>();

    private List<Departments> departments = new List<Departments>();


    protected override void OnInitialized()
    {
        users = DbContext.Users.ToList();

        results = DbContext.Results.ToList();

        roles = DbContext.Roles.ToList();

        departments = DbContext.Departments.ToList();

        foreach (User user in users)
        {
            if (user_id == user.userID)
            {
                email = user.Email;
                break;
            }
        }

        userModel.userID = user_id;
        userModel.email = email;
        userLayout.InvokeAsync(userModel);

        // foreach (KeyValuePair<int, int> kvp in GetTopDepartments())
        // {
        //     Console.WriteLine("--------");
        //     Console.WriteLine(kvp.Key);
        //     Console.WriteLine(kvp.Value);
        //     Console.WriteLine("--------");

        // }

    }

    private Dictionary<string, int> GetTopRolesDetails()
    {
        Dictionary<string, int> roleDesc = new Dictionary<string, int>();

        foreach(Role r in roles)
        {
            foreach (KeyValuePair<int,int> topRole in GetTopRoles(false))
            {
                if (topRole.Key == r.RoleID)
                {
                    roleDesc.Add(r.RoleName, topRole.Value);
                }
            }            
        }

        var sortedDictionary = roleDesc.OrderByDescending(x => x.Value).ToDictionary(x => x.Key, x => x.Value);

        return sortedDictionary;

    }
    private Dictionary<int,int> GetTopRoles(bool all)
    {
        int currentCount = 0;
        bool role1exists = false;
        bool role2exists = false;
        bool role3exists = false;


        Dictionary<int, int> roleCount = new Dictionary<int, int>();

        foreach (Result r in results)
        {
            foreach (KeyValuePair<int,int> kvp in roleCount)
            {
                if (kvp.Key == r.Role1ID)
                {
                    currentCount = kvp.Value;

                    roleCount[kvp.Key] = currentCount + 1;

                    role1exists = true;
                }
                if (kvp.Key == r.Role2ID)
                {
                    currentCount = kvp.Value;

                    roleCount[kvp.Key] = currentCount + 1;

                    role2exists = true;
                }
                if (kvp.Key == r.Role3ID)
                {
                    currentCount = kvp.Value;

                    roleCount[kvp.Key] = currentCount + 1;

                    role3exists = true;
                }
            }

            if (!role1exists)
            {
                roleCount.Add(r.Role1ID, 1);
            }
            if (!role2exists)
            {
                roleCount.Add(r.Role2ID, 1);
            }
            if (!role3exists)
            {
                roleCount.Add(r.Role3ID, 1);
            }
            role1exists = false;
            role2exists = false;
            role3exists = false;
        }

        var sortedDictionary = roleCount.OrderByDescending(x => x.Value).ToDictionary(x => x.Key, x => x.Value);

        if (all)
        {
            return sortedDictionary;
        }
        else
        {
            var first5 = sortedDictionary.Take(5).ToDictionary(x => x.Key, x => x.Value);

            return first5;
        }
    }

    private Dictionary<Departments,int> GetTopDepartments()
    {
        Dictionary<Departments, int> departmentScores = new Dictionary<Departments, int>();

        foreach(Departments dept in departments)
        {
            departmentScores.Add(dept, 0);    
        }

        foreach (Result result in results)
        {
            departmentScores[getDepartment(result.Role1ID)] += 1;
            departmentScores[getDepartment(result.Role2ID)] += 1;
            departmentScores[getDepartment(result.Role3ID)] += 1;
        }

        var sortedDictionary = departmentScores.OrderByDescending(x => x.Value).ToDictionary(x => x.Key, x => x.Value);

        var first5 = sortedDictionary.Take(5).ToDictionary(x => x.Key, x => x.Value);

        return first5;
    }

    public Departments getDepartment(int role_id)
    {
        Role this_role = new Role();

        foreach (Role r in roles)
        {
            if (r.RoleID == role_id)
            {
                this_role = r;
                break;
            }
        }

        Departments this_department = new Departments();

        foreach (Departments dept in departments)
        {
            if (dept.NodeID == this_role.FinalNodeID)
            {
                this_department = dept;
            }
        }

        return this_department;
    }
}
