@page "/Register"
@using NEXT2.Components.Layout
@layout MainLayout

<div class="centre-content container-centre">
    <h1>Register</h1>
    <p class="margin-t-50">Enter your email address and create a password to create your profile. Once your identity is confirmed, you will be able to manage your profile.</p>
    <label class="required-field margin-t-50 text-l">Email Address:</label>
    <InputText class="auth-input" @bind-Value="@username"></InputText>
    <label class="required-field text-l">Password:</label>
    <InputText class="auth-input" @bind-Value="@password"></InputText>
    <label class="required-field text-l">Confirm password:</label>
    <InputText class="auth-input" @bind-Value="@password"></InputText>
    <span class="margin-t-50" style=" padding-top:1px">
        Already have an account?
        <a href="Login" class="margin-t-50 auth-a" style="font-weight:bold;">Log in</a>
    </span>
    <div class="container-space-between height-100">
        <a href="" class="white-button margin-t-50 no-link">
            <i class="fa-solid fa-caret-left"></i> Back
        </a>
        <button class="white-button margin-t-50">Register <i class="fa-solid fa-caret-right"></i></button>
    </div>
    <br />
</div>


@code {
	private string username;
	private string password;

}
