@page "/Results/{userID}"
@using NEXT2.Components.Layout
@layout MainLayout


<div class="centre-content container-centre margin-t-50">
    <h1 class="text-l">Results @userID</h1>
    <div class="white-container container-flex">
        <div class="compatibility-bar">
            <div class="percent">
                <p style="font-size: 24pt; margin: 0;">75%</p>
                <p>compatible</p>
            </div>
        </div>
        <div>
            <div class="container-space-between" style="align-items: baseline;">
                <h3 style="margin-left:15px;">Job title</h3>
                <button class="white-button">Apply here</button>
            </div>
            <div style="width:600px; padding:15px;">
                <div class="container-space-between" style="width: 420px">
                    <p>location</p>
                    <p>salary</p>
                    <p>hours</p>
                </div>
            </div>
        </div>

    </div>
    <div class="white-container container-flex">
        <div class="compatibility-bar">
            <div class="percent">
                <p style="font-size: 24pt; margin: 0;">75%</p>
                <p>compatible</p>
            </div>
        </div>
        <div>
            <div class="container-space-between" style="align-items: baseline;">
                <h3 style="margin-left:15px;">Job title</h3>
                <button class="white-button">Apply here</button>
            </div>
            <div style="width:600px; padding:15px;">
                <div class="container-space-between" style="width: 420px">
                    <p>location</p>
                    <p>salary</p>
                    <p>hours</p>
                </div>
            </div>
        </div>

    </div>
    <div class="white-container container-flex">
        <div class="compatibility-bar">
            <div class="percent">
                <p style="font-size: 24pt; margin: 0;">75%</p>
                <p>compatible</p>
            </div>
        </div>
        <div>
            <div class="container-space-between" style="align-items: baseline;">
                <h3 style="margin-left:15px;">Job title</h3>
                <button class="white-button">Apply here</button>
            </div>
            <div style="width:600px; padding:15px;">
                <div class="container-space-between" style="width: 420px">
                    <p>location</p>
                    <p>salary</p>
                    <p>hours</p>
                </div>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter] public string userID { get; set; }
}

